{
	"extends": "airbnb",
	"rules": {
		"no-console": ["off"],
		"indent": ["error", 2],
		"no-param-reassign": ["error", {"props": false }],
		"no-alert": ["off"],
		"no-underscore-dangle": ["error", {"allow": ["_id", _metadata]}],
		"import/extensions": [0],
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
}